
wlsk-tx/aircrack-ng/
build
.vscode
.idea
tests/
wlsk-rx/test/

venv/
*.DS_Store

# you shouldn't keep pycaches ;)
source/receiver/__pycache__/
source/rx_v2/__pycache__/
source/__pycache__/

# files I created as tests during experiments, etc.
t-misc/
tdumps/
test/
sus.txt
zeroes.txt
wlsk_rec.log
source/rx_v2/rx_test_plots/

# ignore the savefiles, but keep the example plot.
savefiles/plots/*
!savefiles/plots/example.png
# I want to upload things on this particular branch: these shouldn't carry back to main
# savefiles/windows/*
!savefiles/windows/example.csv
