
wlsk-tx/aircrack-ng/
build
.vscode
.idea
tests/
wlsk-rx/test/

venv/
*.DS_Store

# files I created as tests during experiments, etc.
source/receiver/__pycache__/
t-misc/
tdumps/
test/
sus.txt
zeroes.txt
wlsk_rec.log